@import url('https://fonts.cdnfonts.com/css/yahoo');

:root {
    --color-primary: #fed330;
    --color-secondary: #fc0019;
    --color-branco: #fdfdfd;
    --color-preto: #221917;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, Arial, Helvetica, sans-serif;
    list-style: none;
}

header{
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-secondary);
    position: fixed;
}

nav{
    height: 7vh;
    display: flex;
    align-items: center;
}

.container{
    width: 950px;
    margin: 0 auto; 
    justify-content: space-around;
}

.title{
    text-align: center;
    color: var(--color-preto);
    position: relative;
    display: inline-block;
    font-size: 2.2em;
    text-transform:capitalize;
    margin-bottom: 60px;
}

.title:after {
    border-bottom: 3px solid #111111;
    content: "";
    display: block;
    position: relative;
    right: 0px;
    width: 1em;
    z-index: 0;
    top:-10px;
}

.title::first-letter { 
    font-family: 'Yahoo',sans-serif;
 }