@import url('https://fonts.cdnfonts.com/css/yahoo');

:root {
    --color-primary: #fed330;
    --color-secondary: #fc0019;
    --color-branco: #fdfdfd;
    --color-preto: #221917;
}
.PrimeiraLetraEJC::first-letter{
    font-family: 'Yahoo',sans-serif;
    text-decoration: underline;
}