
.logo {
    display: flex;
    padding-left: .4em;
}

.ejc{
    position: relative;
    font-family: 'Yahoo',sans-serif;
    font-size: 2em;
    color: var(--color-branco);
    text-shadow: .06em .06em var(--color-preto), 
    -.06em -.06em var(--color-preto),
    .06em -.06em var(--color-preto),
    -.06em .06em var(--color-preto);
}

.latter_e{
    top: -.2em;
}

.latter_j{
    top: .3em;
    left: -.4em;
}

.latter_c{
    left: -.3em;
}